[submodule "vendor/csystem"]
	path = vendor/csystem
	url = git@github.com:kildevaeld/csystem
[submodule "vendor/uthash"]
	path = vendor/uthash
	url = git@github.com:troydhanson/uthash.git
[submodule "vendor/unity/unity-src"]
	path = vendor/unity/unity-src
	url = git@github.com:ThrowTheSwitch/Unity.git
[submodule "vendor/miniz/miniz-src"]
	path = vendor/miniz/miniz-src
	url = git@github.com:richgel999/miniz.git
[submodule "vendor/uvhttp"]
	path = vendor/uvhttp
	url = git@github.com:kildevaeld/uvhttp
