[submodule "vendor/csystem"]
	path = vendor/csystem
	url = git@github.com:kildevaeld/csystem
[submodule "vendor/uthash"]
	path = vendor/uthash
	url = git@github.com:troydhanson/uthash.git
[submodule "vendor/unity/unity-src"]
	path = vendor/unity/unity-src
	url = git@github.com:ThrowTheSwitch/Unity.git
