[submodule "vendor/csystem"]
	path = vendor/csystem
	url = git@github.com:kildevaeld/csystem
[submodule "vendor/uthash"]
	path = vendor/uthash
	url = git@github.com:troydhanson/uthash.git
[submodule "vendor/unity/unity-src"]
	path = vendor/unity/unity-src
	url = git@github.com:ThrowTheSwitch/Unity.git
[submodule "vendor/boringssl"]
	path = vendor/boringssl
	url = git@github.com:google/boringssl.git
[submodule "vendor/mbedtls"]
	path = vendor/mbedtls
	url = git@github.com:ARMmbed/mbedtls.git
[submodule "vendor/miniz/miniz-src"]
	path = vendor/miniz/miniz-src
	url = git@github.com:richgel999/miniz.git
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = git@github.com:luvit/zlib.git
[submodule "vendor/curl"]
	path = vendor/curl
	url = git@github.com:curl/curl.git
[submodule "vendor/c-thread-pool"]
	path = vendor/c-thread-pool
	url = git@github.com:Pithikos/C-Thread-Pool.git
[submodule "vendor/uvhttp"]
	path = vendor/uvhttp
	url = git@github.com:kildevaeld/uvhttp
